*{
	font-family: aerial;
	margin: 0;
border: border-box;
}
h1{
	font-family: "Roboto";
	font-weight: 600;
color: #fff;
text-align: center;
padding: 10px;



}
.col{
	display: flex;
	
}

.navbar{
	height: 170px;
	width: 1143px;
	background-color: rgb(2,3,129);
	color: white;
	display: flex;
	margin-top: 0;
	font-weight: 50px;

}

body{
	font-family: aerial;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vh;
	height: 100;
	display: inline-block;

}

.container{
	font-family:"sans-serif";
	font-weight: 300;
	max-width: 300px;
	border-radius: 10px;
	margin: 100px;
height: auto;
background-color: light lavender;

}
image{
	max-width: 350px;
	float: left;
}
.text{
	color: black;
	float: inline-end;
	color: black;

}
.text h2{
	font-size: 50px;

padding: 5px;
}
.text p{
	font-size: 20px;
}


	h2{
		
		font-family: sans-serif;
		font-size: 80px;
		font-weight: 500px;
		text-align: center;
		
	}
	.container{
		background-color: light lavender;
	}
